.app-table-card {
    border-radius: 8px;
    border: none !important;
    width: 100%;
}
.table-full-width {
    width: 100%;
    border-collapse: collapse;
}
.table-full-width th {
    border-bottom: 2px solid #ddd;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}
.table-full-width td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-row:last-child td {
    border-bottom: none;
}
.table-header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.search-max-width {
    max-width: 250px;
}

.filter-button {
    padding: 8px 10px 8px 8px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #E6ECF0;
}

.data-txt {
    color: #69788C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;
}

table thead tr {
    border-bottom: 1px solid #CFDCE5;
    height: 65px;
}

table thead tr th {
    font-family: Commissioner;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}

table tbody tr {
    width: 156px !important;
    height: 70px !important;
    padding: 12px 20px 12px 20px !important;
    gap: 4px !important;
}

table tbody tr td {
    font-family: Commissioner;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.search-form-field {
    font-family: Commissioner;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    text-align: left;
}
/* Filter Dropdown */
.filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-dropdown label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
    transition: background 0.2s ease-in-out;
}

.filter-dropdown input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1.5px solid #677A90;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-dropdown input[type="checkbox"]:checked {
    background: #084782;
    border: none;
}

.filter-dropdown input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 2px;
    left: 6px;
}

