
.text-no-wrap{
    text-wrap: nowrap;
}

.overflow-auto {
    overflow: hidden;
    position: relative; 
    max-width: 100%;
}

.scrollbar-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    background-color: transparent; 
    z-index: 1; 
}

.scrollbar-thumb {
    width: 100%;
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 6px;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

.cursor-pointer{
    cursor: pointer;
}