.menu-bar-base {
    background-color: white;
}

.nav-bar-font {
    font-family: Commissioner;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}